{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/my_css.css' %}">

	<link rel="stylesheet" type="text/css" href="">
	<title>{% block title %}  {% endblock %}</title>
</head>
<body>

	<div class="container">
	{% load staticfiles %}
	<div class="container-fluid" display="flex" width="100%">
	  <p class="text-rigth">{% block nombres %}Bienvenido, Nombre1 Nombre2{% endblock %}</p>	
	  <img class="text-rigth" src="{% static 'images/logo.png' %}" id="img-navbar-egresado">	
	</div>


	<!-- Navbar -->
	<nav class="navbar col-12 container-fluid" id="navbar-admin-login">
	  <a class="navbar-brand" href="{% url 'usuarioAdmin:index' %}" id="text-navbar-admin-login">Inicio</a>
	  <a class="navbar-brand" href="#" id="text-navbar-egresado">Perfil</a>
	  <a class="navbar-brand" href="#" id="text-navbar-egresado">Usuarios egresados[0]</a>
	  <a class="navbar-brand" href="#" id="text-navbar-egresado">Noticias</a>
  
	</nav>
	{% block content %}
	<h5>Este es el contenido del archivo base</h5>
	{% endblock %}

	{% block footer %}
	
	{% endblock %}
	
	{% block login %}
	
	{% if user.is_authenticated %}
    	<a href="{% url 'usuario:logout' %}">Logout</a>
	{% else %}
	    <h4>No hay usuario Authenticated</h4>
	{% endif %}
	
	{% endblock %}
	
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
	<script src='{% static 'bootstrap/js/bootstrap.js' %}'></script>
</body>
</html>