{% extends 'administrador/base.html' %}
{% load staticfiles %}
{% block nombres %}<p class="text-rigth">Bienvenido, {{tipoUser}} {{user.first_name}} {{user.last_name}}</p>{% endblock %}
{% block title %}Editar Perfil{% endblock %}

{% block content %}

	<br>
	<h4>Nombre: {{ request.user.first_name }} {{ request.user.last_name }}</h4>
	<h5>País: {{ userAdminEgre.pais }}</h5>
	<h5>Departamento: {{ userAdminEgre.departamento }}</h5>

	<hr>

	{% if messages %}
		<ul class="messages">
			{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
		
	{% endif %}
	<hr>
	<h4>DATOS EDITABLES </h4>
	<form method="POST" class="center-block">
			{% csrf_token %}
			
			

			<div class="form-group col-md-8">
			    <label for="direccionResidencia">Dirección de residencia</label>
			    <input type="text" name="direccionResidencia" class="form-control" placeholder="Ingrese su dirección de residencia" maxlength="100" value="{{ userAdminEgre.direccionResidencia }}">
		  	</div>

		  	<div class="form-group col-md-8">
			    <label for="telefono">Teléfono</label>
			    <input type="text" name="telefono" class="form-control" placeholder="Ingrese su teléfono" maxlength="15" value="{{ userAdminEgre.telefono }}">
		  	</div>

		  	

			<div class="form-group col-md-8">
			    <label for="inputPassword4">Contraseña</label>
			    <input type="password" class="form-control" id="inputPassword4" placeholder="Password" name="password" minlength="8">
		    </div>
		    <div class="form-group col-md-8">
			    <label for="inputPassword4">Confirmar contraseña</label>
			    <input type="password" class="form-control" id="inputPassword4" placeholder="Password" name="passwordConfimation" minlength="8">
		    </div>
	  		<br>
			
			<input type="submit" value="Registrar" class="btn btn-primary">
		
	</form>

	<br>
{% endblock %}

