{% extends 'administrador/base.html' %}
{% load staticfiles %}
{% block nombres %}<p class="text-rigth">Bienvenido, {{tipoUser}} {{user.first_name}} {{user.last_name}}</p>{% endblock %}
{% block title %}Aceptar solicitudes de registro{% endblock %}

{% block content %}

<h1>Bienvenido {{ tipoUser }} {{ user.first_name }}</h1>

<h2>Lista de solicitudes pendientes</h2>

	<hr>
	<div class="row">
		<div class="col-sm-4 col-md-4" id="col-admin-index"><h3>Mis actividades y mas</h3>
		</div>
		<div class="col-sm-4 col-md-4" id="col-admin-index"><h3>Noticias de otros</h3>
		</div>
		<div class="col-sm-4 col-md-4" id="col-admin-index"><h3>Crear noticia</h3>
		</div>
	</div>
		
{% endblock %}


