{% extends 'administrador/base.html' %}
{% load staticfiles %}
{% block nombres %}<p class="text-rigth">Bienvenido, {{tipoUser}} {{user.first_name}} {{user.last_name}}</p>{% endblock %}
{% block title %}Modificar noticias{% endblock %}

{% block content %}

<h2>Area de creación de noticias</h2>
	<hr>

	<!-- La siguiente parte debe ir en otro template (solicitudes)-->
	<hr>
	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	<form method="POST">
		{% csrf_token %}
		<table>
			{{ form.as_table }}
		</table>
		
		
		<input type="submit" value="Registrar">
	
	</form>
	
{% endblock %}


