{% extends 'administrador/base.html' %}
{% load staticfiles %}
{% block nombres %}<p class="text-rigth">Bienvenido, {{tipoUser}} {{user.first_name}} {{user.last_name}}</p>{% endblock %}
{% block title %}Modificar noticias{% endblock %}

{% block content %}

<h2>Area de creación de noticias</h2>
	<hr>

	<!-- La siguiente parte debe ir en otro template (solicitudes)-->
	<hr>
	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	<form method="POST">
		{% csrf_token %}
		
		<div class="form-group col-md-8">
		    <label for="titulo">Título</label>
		    <input type="text" name="titulo" class="form-control" placeholder="Titulo de la noticia" required="True" maxlength="100" value="{{ noticia.titulo }}">
	  	</div>
		<div class="form-group col-md-8">
		    <label for="contenido">Contenido</label>
		    <textarea class="form-control" id="textarea-newNoticia" rows="4" name="contenido" required="True">{{ noticia.contenido }}</textarea>
	  	</div>

	  	<label for="intereses">Seleccione intereses</label>
		{% for interes in intereses %}
		<div class="form-check col-md-8">
		  <label class="form-check-label">
		    <input class="form-check-input" type="checkbox" value="{{ interes.0 }}" name="intereses"
		    	{% if  interes.0 in misIntereses %}
		    		checked = "true"
		    	{% endif %}
		    >
		    {{ interes.0 }}
		  </label>
		</div>
		{% endfor %}
		
		<input type="submit" value="Guardar cambios" class="btn btn-primary">
	
	</form>
	
{% endblock %}


