{% extends 'usuarios/main.html' %}
{% load bootstrap %}
{% block title %}Registro como {{type}}{% endblock %}

{% block content %}
	{% include 'index/partials/nav_index.html' %}
	{% if type == "admin" %}
		{% include 'usuarios/partials/nav_admin.html' %}
	{% else %}
		{% include 'usuarios/partials/nav_egresado.html' %}
	{% endif %}
	
	<hr class="col-lg-8">
	
	
	<div class="row">
		<div class="col-lg-8 mx-auto">
			<form method="POST">
				{%csrf_token%}
				{{ form|bootstrap }}
                <input type="submit" class="btn btn-primary" style="width:100%" value="Registrarse" id="btn-registro">

			</form>
		</div>
	</div>
{% endblock %}