{% extends 'login/base.html' %}
{% load bootstrap %}
{% block title %}Recuperar contraseña - Plataforma Egresados UTP{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
{% if request.path == "/reset/password_reset" %}
<h2>Recuperar contraseña </h2>

<form method='POST'>
	{% csrf_token %}
	{{ form|bootstrap }}
    <input type="submit" class="btn btn-primary" style="width:100%" value="Recuperar constraseña" id="btn-registro">
</form>
{% else %}
<h2>Revisa tu correo para reestablecer la contraseña</h2>
<h3>Si no llega un mensaje al buzón de entrada, verifique en Correo no deseado (Spam). De lo contrario repita el proceso de restablecimiento de contraseña y asegurese de escribir correctamente su email. Si el problema persiste contacte un administrador</h3>
{% endif %}

{% endblock %}

{% block footer %}
{% endblock %}

{% block login %}
{% endblock %}