{% extends 'login/base.html' %}
{% load bootstrap %}
{% block title %}Recuperar contraseña{% endblock %}
{% block header %}
{% endblock %}
{% block content %}

{% if validlink %}

<h1>Nueva contraseña</h1>

<form method="POST">
	{% csrf_token %}
	{{ form|bootstrap }}
	<input type="submit" class="btn btn-primary" style="width:100%" value="Recuperar constraseña" id="btn-registro">

</form>
{% else %}

<h1 class="text-center">Enlace invalido: este enlace ya ha sido utilizado</h1>

{% endif %}

{% endblock %}

{% block footer %}
{% endblock %}

{% block login %}
{% endblock %}