{% extends 'egresado/base.html' %}
{% load staticfiles %}
{% block nombres %}<p class="text-rigth">Bienvenido, {{tipoUser}} {{user.first_name}} {{user.last_name}}</p>{% endblock %}
{% block foto %}{% if foto %}<img class="text-rigth" src="{% static foto %}" id="img-navbar-egresado">
{% else %}
<img class="text-rigth" src="{% static 'images/sin_foto.png' %}" id="img-navbar-egresado">
{% endif %}
{% endblock %}
{% block content %}

<h2>Area de visualización de noticias</h2>
	<hr>

	<!-- La siguiente parte debe ir en otro template (solicitudes)-->

		{% if messages %}
		<ul class="messages">
			{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		
		<ul id="lista-noticias">
			{% for noticia in noticias %}

				<div class="card text-center">
				  <div class="card-header" id="card-header-noticia">
				    Noticia
				  </div>
				  <div class="card-body">
				    <h4 class="card-title">{{ noticia.0 }}</h4>
				    <p class="card-text">{{ noticia.1 }}</p>
				    <a href="#" class="btn btn-primary">Subscribirse</a>
				  </div>
				  <div class="card-footer text-muted">
				    {{ noticia.3 }} |
				    {{ noticia.4 }}
				  </div>
				</div>
				<hr>

			{% endfor %}			


		</ul>
	
{% endblock %}


