{% extends 'login/base.html' %}
{% load staticfiles %}

{% block title %}Primer login{% endblock %}

{% block content %}

<h1>Bievenido/a {{ tipoUser }} {{ user.first_name }}</h1>
<h2>Complete sus datos</h2>
	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
	</ul>
	
	{% endif %}
	<form method="POST">
		{% csrf_token %}
		
		
	    <div class="form-group col-md-8">
			<label for="pais">Pais</label>
			<select class="form-control" name="pais" required id="pais">
				<option value="0">Seleccione pais</option>
				{% for pais in paises %}
					<option value="{{ pais.0 }}"
						{% if datos.pais == pais.0 %}
							selected
						{% endif %}
					>{{ pais.1 }}</option>
				{% endfor %}
			</select>
		</div> 
			
		<div class="form-group col-md-8">
			<label for="depto">Departamento</label>
			<select class="form-control" name="departamento" required id="depto">
				{% for depto in deptos %}
					<option value="{{ depto.0 }}"
						{% if datos.departamento == depto.0 %}
							selected
						{% endif %}
					>{{ depto.1 }}</option>
				{% endfor %}
			</select>
		</div>
		<br>
		Seleccione intereses
		{% for interes in intereses %}
		<div class="form-check col-md-8">
		  <label class="form-check-label">
		    <input class="form-check-input" type="checkbox" value="{{ interes.0 }}" name="intereses"
		    	{% if  interes.0 in datos.intereses %}
		    		checked = "True"
		    	{% endif %}
		    >
		    {{ interes.0 }}
		  </label>
		</div>
		{% endfor %}

        <div class="form-group row col-md-8">
          <label for="example-date-input" class="col-2 col-form-label">Fecha de nacimiento</label>
          <input class="form-control" name="fechaNacimiento" type="date" value="{{ datos.fechaNacimiento }}" id="example-date-input" required="True" value="{{ datos.fechaNacimiento }}">          
		</div>
				
		<div class="form-group row col-md-8">
          <label for="example-date-input" class="col-2 col-form-label">Fecha de graduación</label>
          <input class="form-control" name="graduacion" type="date" value="{{ datos.graduacion }}" id="example-date-input" required="True" value="{{ datos.graduacion }}">          
		</div>

		<div class="form-group col-md-8">
			<label for="genero">Género</label>
			<select class="form-control" required="True" name="genero" required="True">
				<option value="masculino"
					{% if datos.genero == 'masculino' %}
						selected 
					{% endif %}
				>Masculino</option>
				<option value="femenino"
					{% if datos.genero == 'femenino' %}
						selected 
					{% endif %}
				>Femenino</option>
			</select>
		</div>

		<div class="form-group col-md-8">
		    <label for="direccionResidencia">Dirección de residencia</label>
		    <input type="text" name="direccionResidencia" class="form-control" placeholder="Ingrese su dirección de residencia" maxlength="100" value="{{ datos.direccionResidencia }}">
	  	</div>

	  	<div class="form-group col-md-8">
		    <label for="direccionTrabajo">Dirección de trabajo</label>
		    <input type="text" name="direccionTrabajo" class="form-control" placeholder="Ingrese su dirección de trabajo" maxlength="100" value="{{ datos.direccionTrabajo }}">
	  	</div>

	  	<div class="form-group col-md-8">
		    <label for="ocupacionActual">Ocupación actual</label>
		    <input type="text" name="ocupacionActual" class="form-control" placeholder="Ingrese su ocupación actual" maxlength="100" value="{{ datos.ocupacionActual }}">
	  	</div>
	  	
	  	<div class="form-group col-md-8">
		    <label for="telefono">Teléfono</label>
		    <input type="text" name="telefono" class="form-control" placeholder="Ingrese su teléfono" maxlength="15" value="{{ datos.telefono }}">
	  	</div>

	  	<div class="form-group">
		    <label for="telefono">Acceso a mi información</label>
	  	</div>
	  	<div class="form-check">
		  <label class="form-check-label">
		    <input class="form-check-input" type="radio" name="privacidad" id="privacidad" value="publico" checked required="True">
		    Publico
		  </label>
		</div>
		<div class="form-check">
		  <label class="form-check-label">
		    <input class="form-check-input" type="radio" name="privacidad" id="privacidad" value="amigos de amigos" required="True">
		    Amigos de amigos (tus amigos están incluidos)
		  </label>
		</div>
	  	<div class="form-check">
		  <label class="form-check-label">
		    <input class="form-check-input" type="radio" name="privacidad" id="privacidad" value="amigos" required="True">
		    Amigos
		  </label>
		</div>
		<div class="form-check">
		  <label class="form-check-label">
		    <input class="form-check-input" type="radio" name="privacidad" id="privacidad" value="privado" required="True">
		    Privado
		  </label>
		</div>
		 <div class="form-group col-md-8">
		    <label for="inputPassword4">Contraseña</label>
		    <input type="password" class="form-control" id="inputPassword4" placeholder="Password" name="password" required="True" minlength="8">
	    </div>
	    <div class="form-group col-md-8">
		    <label for="inputPassword4">Confirmar contraseña</label>
		    <input type="password" class="form-control" id="inputPassword4" placeholder="Password" name="passwordConfimation" required="True" minlength="8">
	    </div>
  		<br>
		<input type="submit" value="Guardar" class="btn btn-primary" id="boton">
	
	</form>

	<script type="text/javascript">
		$('.datepicker').datepicker({
		    format: 'yyyy-mm-dd',
		    startDate: '-3d'
		});
	</script>

	
	
	<script type="text/javascript">
		$("#boton").click(function(){

			value_pais = $("#pais").val();
			value_depto = $("#depto").val();

			if(value_pais == "0" || value_depto == "0"){
				alert("Seleccione un pais y un departamento");
			}else{
				$("#boton").submit();
			}
		});
	</script>
	
	
{% endblock %}

