
{% extends 'base.html' %}
{% load bootstrap %}
{% block title %}Iniciar sesion{% endblock %}

{% block header %}
{% endblock %}

	
	{% block content %}
	<div class="container">
		<div class="row">
			<div class="col sm-s12 xm-s12">
				<h1 class="mx-auto" id="font-login">Inicia sesión con tu cuenta de email</h1>		
			</div>		
		</div>

		<!-- /////////////////////////////////////////////////////////////////////////// -->
			
			 <form action="" method="POST">
			 	{% csrf_token %}
                    {{ form|bootstrap }}
                    <input type="submit" class="btn btn-primary" style="width:100%" value="Iniciar sesión" id="btn-login">
            </div>
            </form>

		<!-- /////////////////////////////////////////////////////////////////////////// -->
		<!--
		<form method="POST">
			{% csrf_token %}

		<div class="row">
			<div class="mx-auto">
				<div class="form-group mx-auto">
					<label class="sr-only">email</label>
					<input name="email" id="email" class="form-control mx-auto" placeholder="tucorreo@ejemplo.com" type="email">
				</div>	
			</div>
		</div>
		<div class="row">
			<div class="mx-auto">
				<div class="form-group mx-auto">
		            <label for="key" class="sr-only">Contraseña</label>
		            <input name="key" id="key" class="form-control" placeholder="contraseña" type="password">
		        </div>
			</div>
		</div>
		<div class="row">
			<div class="mx-auto">
				<input id="btn-login" class="btn btn-custom btn-lg btn-block" value="Iniciar sesión" type="submit">	
			</div>
		</div>
		</form>

		<div class="row">
		<div class="mx-auto">
			<a href="{% url 'password_reset' %}" id="a-login">Olvidé mi contraseña</a>	
		</div>
		</div>
		<div class="row">
		<div class="mx-auto">
			<div class="mx-auto">
				<a href="{% url 'usuario:registrar' type='egresado' %}" id="a-login">Registrarme</a>	
			</div>
		</div>
		</div>
		-->
		
	</div>
	{% endblock %}

	{% block footer %}
	
	{% endblock %}