{% load staticfiles %}


<!-- Navbar -->
<nav class="navbar col-12 container-fluid" id="navbar-admin-login">
  <a class="navbar-brand" href="{% url 'usuarioAdmin:index' %}" id="text-navbar-admin-login">Inicio</a>
  <a class="navbar-brand" href="#" id="text-navbar-admin">Perfil</a>
  <a class="navbar-brand" href="#" id="text-navbar-admin">Usuarios egresados</a>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Noticias
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="{% url 'usuarioAdmin:crearNoticia' %}" id="text-navbar-admin-dropdown">Crear noticia</a>
      <a class="dropdown-item" href="{% url 'usuarioAdmin:mostrarMisNoticias' %}" id="text-navbar-admin-dropdown">Ver mis noticias</a>
      <a class="dropdown-item" href="{% url 'usuarioAdmin:mostrarTodasNoticias' %}" id="text-navbar-admin-dropdown">Ver noticias de otros</a>
    </div>
  </li>
  
</nav>